.quiztap-header {
  background: url("/assets/images/quizTap/header-bg.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.quiz-sidebar {
  background: linear-gradient(
    89.71deg,
    rgba(42, 56, 55, 0.2) 9.89%,
    rgba(63, 43, 68, 0.2) 44.04%,
    rgba(50, 40, 55, 0.2) 90.84%
  );
}


.quiz-main-wrapper {
  background: radial-gradient(
    174.04% 3217.67% at 17.05% 37.02%,
    rgba(42, 56, 55, 0.2) 0%,
    rgba(63, 43, 68, 0.2) 42.19%,
    rgba(50, 40, 55, 0.2) 100%
  );
  padding: 4px;
  border-radius: 20px;
}
.progress {
  height: 36px;
  width: 36px;
}

.progress svg {
  height: 100%;
  width: 100%;
}


.antenna::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 10px solid #4A90E2;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.antenna:nth-child(1)::before {
    border-bottom-color: #4A90E2;
}
.antenna:nth-child(2)::before {
    border-bottom-color: #4A90E2;
    top: 10px;
}
.antenna:nth-child(3)::before {
    border-bottom-color: #4A90E2;
    top: 20px;
}